/* @media (prefers-color-scheme: dark) {
    html {
        filter: invert(100%);
  -ms-filter: invert(100%);
  -webkit-filter: invert(100%);
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-image-rendering: optimizeSpeed;
    }
    

    img, video, iframe, canvas, svg, embed[type='application/x-shockwave-flash'], object[type='application/x-shockwave-flash'], *[style*='url('] {
        filter: invert(100%);
        -ms-filter: invert(100%);
        -webkit-filter: invert(100%);
      }
}

.b2dark {
    filter: invert(100%);
  -ms-filter: invert(100%);
  -webkit-filter: invert(100%);
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -webkit-image-rendering: optimizeSpeed;
}

.b2dark img, .b2dark video, .b2dark iframe, .b2dark canvas, .b2dark svg, .b2dark embed[type='application/x-shockwave-flash'], .b2dark object[type='application/x-shockwave-flash'], .b2dark *[style*='url('] {
    filter: invert(100%);
    -ms-filter: invert(100%);
    -webkit-filter: invert(100%);
  } */